@import url("../shrifti.css");
* {
  padding: 0;
  margin: auto 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    background: #252237;
}
body header {
    width: 100%;
    height: 100vh;
    background-image: url("../img/fonheader.png");
    background-position: 50% 50%;
    background-size: cover;
  }
  body header nav {
    padding: 40px;
  }
  body header nav h1 {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
  }
  body header .concept {
    margin: 25px 60px;
    padding: 60px 105px;
  }
  body header .concept h2 {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 65px;
    letter-spacing: -2.5px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
  }
  body header .concept p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
  }
  body header .concept .btn {
    background: #e2521d;
    border-radius: 10px;
    padding: 20px 80px;
    margin-top: 70px;
    cursor: pointer;
    border: none;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 900;
    font-size: 17px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.5s;
  }
  body header .concept .btn:hover {
    box-shadow: 0px 0px 40px rgba(202, 0, 80, 0.51);
    background: #cf4918;
    transform: scale(1.2);
  }
  body #ochemkurs {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body #ochemkurs .text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body #ochemkurs .text .left {
    /* padding: 0 30px; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* body #ochemkurs .text .left img { */
    /* margin-left: 30px; */
  /* } */
  body #ochemkurs .text .right {
    width: 50%;
    /* padding: 0 0 0 30px; */
    /* margin: 0 0 0 30px; */
  }
  body #ochemkurs .text .right h2 {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    color: #ffffff;
    margin-bottom: 110px;
  }
  body #ochemkurs .text .right h4 {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #e2521d;
    margin-bottom: 40px;
  }
  body #ochemkurs .text .right p {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #8997ab;
  }
  body #nauch {
    padding: 30px;
    width: 100%;
    text-align: center;
  }
  body #nauch h3 {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 62px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 80px;
  }
  body #nauch .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 150px;
  }
  body #nauch .container .cardWidth {
    width: 40%;
  }
  body #nauch .container .card {
    padding: 15px 25px;
    margin: 20px 5px;
    text-align: start;
  }
  body #nauch .container .card .box {
    width: 84px;
    height: 84px;
    border-radius: 100%;
    border: 2px solid #6a5d6a;
    margin-bottom: 25px;
    border-left-color: #cf4918;
    border-top-color: #cf4918;
    border-left: 1px solid #cf4918;
    border-top: 1px solid #cf4918;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body #nauch .container .card .box:hover {
    box-shadow: 0px 0px 35px #cf4918;
  }
  body #nauch .container .card p {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #ffffff;
  }

